/**
Header-R = 0,
Header-L = 1,
**/
* {
    margin: 0px;
    padding: 0px;
}* input:focus {
    outline: none;
}* a{
    text-decoration: none;
    color: white;
}body {
    margin: auto;
}:root {
    --btn1--color: rgb(8, 43, 147);
    --btn1--Hcolor: rgba(8, 43, 147, 0.475);
    --btn2--color: rgb(51, 132, 42);
    --btn2--Hcolor: rgba(51, 132, 42, 0.475);
    --btn3--color: rgb(205, 102, 23);
    --btn3--Hcolor: rgba(205, 102, 23, 0.475);
    --text--color: rgba(208, 220, 206, 0.893);
    --MSGO--color:  rgb(208, 176, 15);
    --MSGY--color:rgb(5, 109, 68);
    --Header--color: rgba(188, 88, 0, 0.783);
}.contents {
    margin-top: 120px;
    height: 300px;
    width: 400px;
    min-width: 300px;
}.home-page-tİtle {
    margin-top: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}.home-page-tİtle-desc {
    padding: 12px;
    display: block;
}input#i_user_name {
    padding: 8px;
    margin: 14px;
    width: 85%;
    height: 40px;
    font-size: larger;
    background-color: rgba(84, 84, 83, 0.441);
    border-radius: 14px;
    border: none;
}.button-group {
    color: var(--text--color);
    display: flex;
    justify-content: space-evenly;
}.btn1 {
    color: var(--text--color);
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
    background-color: var(--btn1--color);
}.btn1:hover {
    background-color: var(--btn1--Hcolor);
}.btn2 {
    color: var(--text--color);

    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
    background-color: var(--btn2--color);
}.btn2:hover {
    background-color: var(--btn2--Hcolor);
}.btn3 {
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
    background-color: var(--btn3--color);
    color: var(--text--color);
}.btn3:hover {
    background-color: var(--btn3--Hcolor);
}.header {
    z-index: 60;
    position: fixed;
    top: 0px;
    width: 100%;
    margin-bottom: 50px;
    background-color: var(--Header--color);
    padding: 8px;
    margin-bottom: 5px;
}.header div {
    display: inline-block;
    padding: 8px;
}.chat-content {
    position: relative;
    margin-top: 65px;
    margin-bottom: 160px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}.chat-content div {
    display: block;
}.Y0M1 {
    width: 80%;
    position: relative;
    display: block;
    margin-bottom: 8px;
    border-radius: 5px 15px 5px;
}.Y0M1 div{
        display: inline-block;
}.Y1M2 {
    width: 80%;
    float: right;
    position: relative;
    display: block;
    margin-bottom: 8px;
    border-radius: 5px 15px 5px;
    text-align: right;
}.Y1M2 i{
float: right;
}.YP12 img{
    position: absolute;
    top: 12px;
    right: 3px;
width: 40px;
height: 40px;
border-radius: 12px;
background-color: antiquewhite;
}.MSGY{
    text-align: left;
    text-rendering: geometricPrecision;
    background-color: var(--MSGY--color);
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(78, 148, 69, 0.441);
    border-radius: 5px 15px 3px;
    padding: 4px;
    font-size: 14px;
}.MSGO{
    text-align: left;
    text-rendering: geometricPrecision;
    background-color: var(--MSGO--color);
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(78, 148, 69, 0.441);
    border-radius: 5px 15px 3px;
    padding: 4px;
    font-size: 14px;
}.footer{
height: 80px;
width: 100%;
display: flex;
position:fixed;
color: white;
justify-content: space-evenly;
align-items: center;text-align: center;
background-color: rgba(0, 0, 0, 0.194);
bottom: 2px;
}.footer .Input-area{
    display: flex;
    align-items: center;text-align: center;

}.footer .Input-area input{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 1ch;}
.Typing{
    position: absolute;
    left: 60px;
    top: 28px;
    font-size: 14px;
    color: green;
}.Typing::after{
    content: "...";
    animation: dot 2s linear 1s infinite alternate;}
@keyframes dot{
    0%{
        content: ".";
    }
    50%{
        content: "..";
    }
    100%{
        content: "...";
    }
}